.add-form-controls{
    margin: 1.2rem 0;
}

h2#add-card-title {
    margin-bottom: 0;
    text-align: center;
    color: #007bff;
}

#selected-image {
    width: 65%;
    
}

.add-form-container{
    margin-top: 80px;
    display: flex;
    max-height: 90vh;
    align-items: center;
}