.photo-card {
    width: 40%;
    margin: 2rem auto;
    padding: 1rem;
}

#card-title{
    text-align: center;
    font-size: 1.6rem;
    margin: 0.5rem;
}

.img-holder-card {
    width: 60%;
    height: 30%;
    margin: 1rem auto !important;
}

.delete-txt {
    margin-left: 10px;
}

.delete-btn {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.delete-btn:hover {
    background-color: #0056b3;
}

p.card.card-elements, .card-items.card-elements{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 2rem 0;
}

.card-info{
    width: 60%;
    margin: 0 auto;
}
