*{
    font-family: 'Roboto' , sans-serif;
}

body{
  background-image: url("../images/login-bg.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  
}
  .login-container {
    text-align: center;
    margin-top: 100px;
    
  }
  
  .login-form {
    /* max-width: 300px; */
    width: 30%;

    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .error-message {
    color: #F00;
    font-size: 14px;
  }

  .form-inputs {
    margin: 1rem 0;
  }
  
  .login-form h2 {
    /* margin-top: 0; */
    margin: 2.5rem auto;
    width: 20%;
    padding: 8px;

    /* border: solid 4px #007bff;
    border-radius: 20px; */
    font-size: 2rem;
    color: #007bff;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
  }
  
  

  .login-form button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  