*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

.navbar {
  width: 100%;
  height: 60px;
  background-color: red;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  /* margin: 0; */
  z-index: 99999;
  color: #fff;
  background-color: #007bff;
  justify-content: space-between;
}

.nav-items{
  margin: 0.7rem;
}

.nav-header{
  /* margin-left: 100px; */
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

  .login-container {
    text-align: center;
    margin-top: 100px;
  }
  .container-fluid{
    width: 100%;
    margin-top: 100px;

  }
  .container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  
  .photo-card {

    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .photo-card:hover {
    transform: translateY(-5px);
  }
  
  .photo-card h3 {
    margin-top: 2rem;
    /* padding-top: 2rem; */
    font-size: 5px;
    color: #333;
  }
  
  
  .photo-card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .logout-btn {
    float: right;
    /* margin: 20px; */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    /* color: #fff; */
    background-color: #ccc;
  }
  
  .add-photo-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #fff;
    background-color: #007bff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-photo-btn:hover {
    background-color: #0056b3;
  }
  
  .add-photo-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-photo-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .add-photo-form input[type="text"],
  .add-photo-form textarea {
    width: calc(100% - 20px);
    /* margin-bottom: 20px; */
    padding: 10px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-photo-form input[type="file"] {
    display: none;
  }
  
  .add-photo-form label {
    display: inline-block;
    width: 30%;
    font-size: 12px;
    padding: 10px 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-photo-form label:hover {
    background-color: #0056b3;
  }
  
  .add-photo-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-photo-form button:hover {
    background-color: #0056b3;
  }
  